/* line 1, sass/imports/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 22, sass/imports/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, sass/imports/_reset.scss */
body {
  line-height: 1; }

/* line 29, sass/imports/_reset.scss */
ol, ul {
  list-style: none; }

/* line 32, sass/imports/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 35, sass/imports/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 40, sass/imports/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* general tags for project */
/* line 3, sass/imports/_base.scss */
html, body {
  width: 100%;
  height: 100%; }

/* line 8, sass/imports/_base.scss */
body {
  font: 100%/1.5 Cambria, Garamond, Georgia, Times, serif;
  color: #333; }

/* line 15, sass/imports/_base.scss */
img,
iframe {
  width: 100%; }

/* line 20, sass/imports/_base.scss */
p {
  margin: 12px 0; }

/* line 24, sass/imports/_base.scss */
h2 {
  margin-bottom: 12px;
  padding-bottom: 6px;
  font-size: 24px;
  letter-spacing: -1px; }

/* line 31, sass/imports/_base.scss */
h3, h4 {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 20px; }

/* line 1, sass/imports/_structure.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

/* line 6, sass/imports/_structure.scss */
.clearfix:after {
  clear: both; }

/* line 10, sass/imports/_structure.scss */
body {
  background-color: #fffded;
  font-family: 'Lucida Grande', sans-serif; }

/* line 15, sass/imports/_structure.scss */
.wrapper {
  display: flex;
  flex-direction: column; }

/* line 21, sass/imports/_structure.scss */
.header-container {
  width: 90%;
  padding: 1rem; }

/* line 30, sass/imports/_structure.scss */
.header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #df9055;
  padding: 1rem 0;
  background-image: -moz-linear-gradient(30deg, #df9055 0%, #fffded 30%, white 50%, #fffded 80%, #df9055 100%);
  background-image: -webkit-linear-gradient(30deg, #df9055 0%, #fffded 30%, white 50%, #fffded 80%, #df9055 100%);
  background-image: -o-linear-gradient(30deg, #df9055 0%, #fffded 30%, white 50%, #fffded 80%, #df9055 100%);
  background-image: linear-gradient(30deg, #df9055 0%, #fffded 30%, white 50%, #fffded 80%, #df9055 100%); }

/* line 51, sass/imports/_structure.scss */
header h1 {
  color: black;
  text-align: center; }

/* the styles for the navigation bar */
/* the styles for the navigation bar */
/* line 68, sass/imports/_structure.scss */
.nav {
  padding: 0;
  display: flex; }

/* line 74, sass/imports/_structure.scss */
.nav li {
  flex: 1;
  text-align: center;
  list-style: none; }

/* line 79, sass/imports/_structure.scss */
.nav a {
  color: #fffded;
  text-decoration: none;
  padding: 6px;
  display: block;
  background-color: #c8814c;
  transition: background-color 0.5s linear; }

/* line 88, sass/imports/_structure.scss */
.nav a:hover {
  color: #fffded;
  background-color: #df9055; }

/* line 93, sass/imports/_structure.scss */
a:focus, a:hover {
  font-style: italic; }

/* line 97, sass/imports/_structure.scss */
.shadow {
  text-shadow: 2px 2px 2px #df9055; }

/* line 102, sass/imports/_structure.scss */
.big-title h1 {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 7rem;
  line-height: .6; }
  @media (max-width: 700px) {
    /* line 102, sass/imports/_structure.scss */
    .big-title h1 {
      font-size: 5rem; } }
  @media (max-width: 600px) {
    /* line 102, sass/imports/_structure.scss */
    .big-title h1 {
      font-size: 3rem; } }

/* line 121, sass/imports/_structure.scss */
.big-title h1:first-child {
  text-align: right;
  float: right;
  margin-top: 3rem;
  margin-bottom: 1rem; }

/* line 138, sass/imports/_structure.scss */
.logo {
  width: 20%;
  margin-left: 25px;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between; }

/* line 146, sass/imports/_structure.scss */
.logo-title {
  margin-left: 10px;
  font-size: 3rem; }

/* line 151, sass/imports/_structure.scss */
.icon {
  width: 64px; }

/* line 155, sass/imports/_structure.scss */
.content {
  max-width: 95%;
  margin: 0 auto; }

/* line 160, sass/imports/_structure.scss */
.primary {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* line 167, sass/imports/_structure.scss */
.primary h1 {
  line-height: .6; }

/* line 173, sass/imports/_structure.scss */
.green {
  background: #df9055;
  padding-bottom: 2.5rem;
  margin-top: -9rem; }

/* line 179, sass/imports/_structure.scss */
section:not(.lift) {
  margin: 4rem 0; }

/* line 182, sass/imports/_structure.scss */
.lift {
  padding-top: 7.75rem;
  margin-top: -6.5rem; }
  @media (max-width: 700px) {
    /* line 182, sass/imports/_structure.scss */
    .lift {
      margin-top: -6rem; } }

/* line 193, sass/imports/_structure.scss */
.inner {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  margin: 0 auto; }
  @media (max-width: 700px) {
    /* line 193, sass/imports/_structure.scss */
    .inner {
      flex-direction: column; } }

/* line 205, sass/imports/_structure.scss */
.inner-left {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 64.166%;
  margin-left: 2.5%; }

/* line 211, sass/imports/_structure.scss */
.inner-left h2 {
  font-size: 3.5rem; }

/* line 217, sass/imports/_structure.scss */
.inner-right {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 30.833%;
  margin-left: 2.5%; }

/* line 225, sass/imports/_structure.scss */
.blocks {
  display: flex;
  flex-direction: row; }

/* line 241, sass/imports/_structure.scss */
.block-item:first-child {
  margin-right: 2.5%; }

/* line 245, sass/imports/_structure.scss */
.white {
  background: #fffded; }

/* line 249, sass/imports/_structure.scss */
.note {
  padding: 35px; }

/* line 254, sass/imports/_structure.scss */
.note h4 {
  line-height: 1.4; }

/* line 261, sass/imports/_structure.scss */
.note p {
  font-size: 1rem;
  font-weight: 100; }

/* line 270, sass/imports/_structure.scss */
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem; }

/* line 277, sass/imports/_structure.scss */
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* line 283, sass/imports/_structure.scss */
.item-group {
  display: flex;
  flex-direction: row; }

/* line 288, sass/imports/_structure.scss */
.gold-line {
  position: relative;
  padding-bottom: 2px;
  height: 1px;
  display: inline-block;
  width: 100%; }

/* line 296, sass/imports/_structure.scss */
footer {
  display: flex;
  flex-direction: column; }

/* line 302, sass/imports/_structure.scss */
.fadein {
  position: relative;
  width: 500px;
  height: 332px; }

/* line 303, sass/imports/_structure.scss */
.fadein img {
  position: absolute;
  left: 0;
  top: 0;
  width: 75vw;
  height: 100vh; }

/* line 304, sass/imports/_structure.scss */
.fade-out {
  opacity: 0;
  transition: none; }

/* line 305, sass/imports/_structure.scss */
.fade-in {
  opacity: 1;
  transition: 1s opacity; }

/* line 306, sass/imports/_structure.scss */
.show {
  display: block !important; }

/*# sourceMappingURL=styles.css.map */