
/* general tags for project */
html,body {
    width: 100%;
    height: 100%;
}

body {
	font: 100%/1.5 Cambria, Garamond, Georgia, Times, serif;
	color: #333;
}



img,
iframe {
  width: 100%;
}

p {
	margin: 12px 0;
}

h2 {
	margin-bottom: 12px;
	padding-bottom: 6px;
	font-size: 24px;
	letter-spacing: -1px;
}

h3, h4 {
	font-size: 16px;
	line-height: 1.25;
	margin-bottom: 20px;
}