.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

body {
    background-color: #fffded;
    font-family: 'Lucida Grande', sans-serif
}

.wrapper {
    display: flex;
    flex-direction: column;

}

.header-container {
    width: 90%;
    // max-width: 95%
    // max-width: 1100px;
    // display: flex;
    // justify-content: center;
    padding: 1rem;
}

.header {
    // max-width: 95%;
   display: flex;
    // justify-content: space-between;
    align-items: center;


   border-bottom: 3px solid #df9055;
	 padding: 1rem 0;
	background-image: -moz-linear-gradient(
	    30deg, #df9055  0%, #fffded 30%, white 50%, #fffded 80%, #df9055  100%);
	background-image: -webkit-linear-gradient(
	    30deg,#df9055  0%, #fffded 30%, white 50%, #fffded 80%, #df9055  100%);
	background-image: -o-linear-gradient(
	    30deg, #df9055  0%, #fffded 30%, white 50%, #fffded 80%, #df9055 100%);
	background-image: linear-gradient(
	    30deg, #df9055 0%, #fffded 30%, white 50%, #fffded 80%, #df9055 100%);


}

header h1 {
	color:black;
    
		text-align: center;
}

// .logo-img {
// 	float: left;
// 	padding: 0 2rem;
// 	 width: 6rem;
// 	height: 6rem;
// }

/* the styles for the navigation bar */

 
/* the styles for the navigation bar */
.nav {
	padding: 0;
	display: flex;

}

.nav li {
	flex: 1;
	text-align: center;
	list-style: none;
}
.nav a {
	color: #fffded;
	text-decoration: none;
	padding: 6px;
	display: block;
	background-color: #c8814c;
	transition: background-color 0.5s linear;
}

.nav a:hover {
		color: #fffded; 
		background-color: #df9055;
}

a:focus, a:hover {
	font-style: italic;
}

.shadow {
	text-shadow: 2px 2px 2px #df9055;
}
 

.big-title h1 {
     @media(max-width: 700px) {
         font-size: 5rem;
    }

     @media(max-width: 600px) {
         font-size: 3rem;
    }

display: inline-block;
    // margin: 4rem;
    position: relative;
    padding-bottom:  2px;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 7rem;
    line-height: .6;
}

.big-title h1:first-child {
    text-align: right;
    float: right;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

// .nav-menu {
//     width: 30%;
//     display: flex;
//     justify-content: space-between;
// }

// .menu-item {
//     margin-right: 5px;
// }

.logo {
    width: 20%;
    margin-left: 25px;
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;

}
.logo-title {
    margin-left: 10px;
    font-size: 3rem;
}

.icon {
    width: 64px;
}

.content {
    max-width: 95%;
    margin: 0 auto;
}

.primary {

    display: flex;
    flex-direction: column;
    justify-content:  center;
}

.primary h1 {
    line-height: .6;
    // padding: 2rem;
}


.green {
    background:#df9055;
    padding-bottom: 2.5rem;
    margin-top: -9rem;
}

section:not(.lift) {
    margin:4rem 0;
}
.lift {
    // display: flex;
    padding-top: 7.75rem;
    margin-top: -6.5rem;
    @media( max-width:700px) {
          margin-top: -6rem;
    }
    //  @media(max-width: 600px) {
    //      font-size: -6rem;
    // }
}
.inner {

    @media(max-width: 700px) {
        flex-direction: column;
    }

    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    margin: 0 auto;
    
}
.inner-left {
       flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 64.166%;
        margin-left: 2.5%;
}
.inner-left h2 {
  font-size: 3.5rem;
}



.inner-right {
       flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 30.833%;
       margin-left: 2.5%;
           
}

.blocks {
    display: flex;
    flex-direction: row;

}

// .block-row {
//     margin-left: -2.5%;
// }

// .block-item {
//     margin-left: 2.5%;
//     margin-bottom: 2%;
//     margin-top: 2%;
// }

.block-item:first-child {
    margin-right: 2.5%;
}

.white {
        background:#fffded;
}

.note {
  
    padding: 35px;
}

.note h4 {
    // font-size: 1rem;
    line-height: 1.4;
    // font-weight: 500;

}

.note p {
      font-size: 1rem;
      font-weight: 100;
    
}




.portfolio {
     display: flex;
    flex-direction: column;
    justify-content:  center;
    padding: 2rem;
}

.gallery {

     display: flex;
    flex-direction: column;
    justify-content:  center;
}
.item-group {
    display: flex;
    flex-direction: row;
}

.gold-line {
        position: relative;
    padding-bottom: 2px;
    height: 1px;
    display: inline-block;
    width: 100%;
}

footer {
    display: flex;
    flex-direction:  column;
    // margin-top: 3rem;
}

.fadein { position:relative; width:500px; height:332px; }
.fadein img { position:absolute; left:0; top:0;  width: 75vw; height: 100vh;}
.fade-out { opacity: 0; transition: none;}
.fade-in { opacity: 1; transition: 1s opacity}
.show {
  display: block !important; 
}
// .hide { display:none ;}
